body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

.btn {
  font-weight: 700;
  border-radius: 300px; /* da naredi bolj okrogle robove na gumbu */
  text-transform: uppercase; /* spremenimov elikost pisave gumba */
}

.btn-primary {
  background-color: #F05F44;  /* spremenimo barvo gumba in barvo obrobe gumba */
  border-color: #F05F44;   
}

.btn-primary:hover {
  background-color: #ee4b08;   /* Spremenmo barvo gumba, obrobe in povečamo velikost, ko gremo z miško na gumb */
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem; /* velikost gumba */
}


/* oblikujemo horizontalno črto, ki smo jo dali nad gumb */
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px; /* dolžina horizontalne črte */
    opacity: 1;  
}

.buffer {
  height: 12rem;
}


/* Postavitev teksta in gumba z Bootstrap (Layout) */